* {
  background-color: goldenrod;
  text-align: center;
  color: brown;
}

button {
  background-color: brown;
  color: goldenrod;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 20%;
  border: none;
}
